[2015-12-17 15:04] brusini opened #1 "config value issue"
Weird thing, can't read a '0.0.0.0' value

e.g.

ControllerServerIP=0.0.0.0

Please fix.

[2015-12-17 15:22] aloneguid commented on #1
Hi,
Could you please provide an example of how you are using it.

[2015-12-18 08:48] brusini commented on #1
Sorry, was related to old framework issue.

[2015-12-18 08:48] #1 closed

[2015-12-18 09:54] aloneguid commented on #1
No worries. Feel free to contact me, I'm keen to work on any new features or fix bugs.

[2016-12-03 13:48] JoranOmark opened #3 "License missing"
I love many aspects of the project. I haven't been looking more than twenty minutes, but I like the combination of not accessing via strings but properties and the fallback system with several sources - I'm not sure any other configuration system has that out of the box. Nini uses strings, YamlDotNet is more or less undocumented, and System.Configuration is just a shell to implement everything you

[2016-12-04 06:14] aloneguid commented on #3
Thanks for the interest, please feel free to use it, I've added MIT license.

[2016-12-04 06:14] #3 closed

[2017-01-10 12:25] aloneguid opened #4 "Add command line arguments as parameter source"

[2017-01-15 21:38] flx5 opened #5 "Custom Type Parser"
Hello,

The readme mentions the ability to create custom type parsers by implementing ITypeParser.
Sadly I can't figure out a way to actually register the parser.
By looking at the code it doesn't seem like that is possible at all.

[2017-01-16 14:22] #5 closed

[2017-01-17 15:01] #4 closed

[2017-01-17 15:04] aloneguid commented on #5
It's on NuGet now, I've also added unit tests for it. Please try.

[2017-01-18 10:28] flx5 commented on #5
Thank you, works perfectly. Keep up the good work!

[2017-01-19 13:17] aloneguid opened #7 "Configuration reader for JSON files"

[2017-01-27 19:26] cosmocracy opened #8 "Configuration reader for Git repo"
To further separate configuration from the application bits (and their deployment), consider implementing a reader that would allow for the backing configuration data to be housed in a Git repository.

Complicating Factors:
* Use local/installed Git client or pull in a library (e.g., LibGit2Sharp)?
* Need to address authentication (e.g., SSH keys) and other Git client issues
* May wish to introduc

[2017-01-30 17:06] aloneguid commented on #8
@cosmocracy what would be the use case for storing configuration in Git? Are you expecting something like .ini files in a git branch?

[2017-01-31 12:29] aloneguid opened #9 "Creating instances of settings containers"
Think of a better way to create instances of settings containers. What I've seen so far is a plethora of singletons in code, seems repetitive enough.

[2017-01-31 12:30] aloneguid opened #10 "UseCommandLineArgs overload"
Currently there is one method accepting argument list which can accept null to use system command line parameters. Seems like null is almost always used, would make sense to have parameterless overload.

[2017-01-31 13:03] #10 closed

[2017-01-31 15:13] aloneguid opened #11 "Support DirectoryInfo/FileInfo type parsers"
When configuration option is a path to directory or file it's sometimes more useful to get the wrapped structure.

[2017-01-31 15:16] aloneguid opened #12 "CommandLine parser and parameters with no separators"
At the moment if no separator is found the parameter is ignored, however it's sometimes useful to still get it. Need to think how.

[2017-02-09 14:36] FireNero commented on #7
Hi! I'd like to use your library in our project but we definitely need writable JSON storage. Have you started to implement it already? If no, I will implement it myself and can create a pull request for it. What do you think about it?

[2017-02-09 15:13] aloneguid commented on #7
Hi @FireNero please go ahead, I haven't started on this yet.

[2017-02-09 15:28] FireNero commented on #7
@aloneguid Do you allow referencing 3rd party library for this task? I want to use Newtonsoft.Json here.

[2017-02-09 15:47] aloneguid commented on #7
@FireNero Newtonsoft.Json is OK, it's used in many projects.

[2017-02-10 10:18] aloneguid opened #13 "Storage.Net integration"
There is some code duplication between Storage.Net (azure tables, blobs etc.) and this library, which is just stupid. I think it's better to have a writer which can accept ITableStorage or IBlobStorage. That will also automatically add any target that Storage.Net suppots now and in the future.

[2017-02-10 12:15] #7 closed

[2017-02-10 12:46] FireNero opened #15 "Default name with read-only properties"
In current implementation, if I use readonly property, values are writing and then reading properly but file storage file looks awkward. For example ini storage with the following code:
[code]
Produces the following file:
[code]

Similar thing happens for JSON storage:
[code]

If I specify option name file is filling up correctly. It would be great to populate default name from option property cor

[2017-02-10 13:03] FireNero opened #16 "Nested options support"
I want to store a lot of settings in the single file. In this case, SettingsContainer becomes a mess of huge amount of properties which is hard to maintain and use.
It would be nice to have an opportunity to create nested options. Something like this:
[code]

Then it could be accessed in code like this:
[code]

This will help to work with a lot of settings stored in single file and avoid naming co

[2017-02-10 13:15] FireNero opened #17 "Read option API"
Currently to read actual value from the option I need to write it in the one of the following ways:
[code]
I don't like to write type or use implicit cast because I need to know actual setting type when I writing the code. And it slows down code typing speed much.

It would be useful to have a method or property to get actual value from option. Something like this:
[code]
or
[code]

[2017-02-10 13:19] #8 closed

[2017-02-10 13:28] aloneguid commented on #17
Agree, it would be useful. You can now use `settings.MyOption.Value` getter which is of strong type. Should be on NuGet in a few minutes.

[2017-02-10 13:28] #17 closed

[2017-02-10 13:34] aloneguid commented on #15
You're right, this is happening because config only looks at members and not properties. If you declare it like that C# generates a backing field with this name `<PropertyName>_BackindField` which theoretically should be skipped as they are private but there is a bug which doesn't. If you declare

[code]
as

[code]

it will work as expected. Why is this syntax not acceptable?

[2017-02-10 13:39] aloneguid commented on #16
I'm missing this functionality too, and was thinking about it for some time. The reason I didn't implement it is I wanted to come up with a beautiful syntax and avoid declaring another class for nested options i.e. something like

[code]

but I couldn't find a way to express it in C# magically. Although thinking about it now your suggestion is good too, for example you may want to have a nested de

[2017-02-10 13:57] FireNero commented on #15
The main benefit of using property in my use case is that I can delegate options to another class like this:
[code]
And then if I change inner provider logic I will need to update only AuthClientId getter but not all code that depends on it. Also, this allows to inject provider into class constructor and conditionally resolve the instance. So it's just about flexibility.

I haven't checked your im

[2017-02-10 14:45] FireNero opened #18 "Allow relative file paths."
Add possibility to pass relative file path into file storages like INI or JSON. This may be useful in some situations.

[2017-02-10 16:33] FireNero commented on #15
I've thought about it again and found my mistake. I've provided an example with computed property instead of readonly. And now I think that there is no real difference between using readonly field or readonly property in current settings context.

[2017-03-28 09:37] #15 closed

[2017-04-08 20:43] ravensorb commented on #16
What about leveraging some ideas from this library?  https://github.com/Dynalon/JsonConfig

[2017-04-08 21:03] aloneguid commented on #16
@ravensorb i don't see a point in that library, Json.net does the same out of the box. Also dynamics for configuration is a terrible idea as it's duck typing instead of strong typing which is what I'm trying to avoid.

[2017-04-08 21:17] ravensorb commented on #16
the idea was around the syntax :) Not the specific implementation.

[2017-05-13 09:26] JoranOmark opened #19 "ToString() returns property name not value"
If I try to get for example an int, and type Console.WriteLine(Settings.PortNumber.ToString()) it writes "PortNumber" to the console, rather than the actual port number.

If I create a new variable first (int port = Settings.PortNumber;) and then call port.ToString() I get what I expect - I assume that bypasses the ToString() override, so the problem ought to be in the override somewhere.

Is anyo

[2017-05-17 06:22] JoranOmark commented on #19
False alarm. A patch and a recompile didn't do what I thought they did. I blame low blood sugar. Move along.

[2017-05-17 06:22] #19 closed

[2017-06-16 13:16] #16 closed

[2017-07-05 10:26] AndyCross opened #20 "Support CommandLine nakedness"
## Command Line Usability

If I want to supply friendly cmdline apps I might want to allow the user to omit the key part of the keyvalue pair. As an example, rather than

```parq InputFilePath=/path/to/file```

I might want to let my users simply enter:

```parq /path/to/file```

using config.NET, I am forced to force my users to enter the full key value pair, rather than defaulting the key to pop

[2017-07-10 10:12] aloneguid commented on #20
@AndyCross it's implemented now in this form, will it work in your case? https://github.com/aloneguid/config/blob/master/doc/Stores_CommandLine.md

[2017-07-10 10:13] aloneguid commented on #12
duplicate of #20

[2017-07-10 10:13] #12 closed

[2017-07-13 20:48] HarpunDK opened #21 "DateTime parser issue regarding timezone"
Hi Config.net

I am writing because I have detected an issue with the default datetimeparser.
When writing datetime to file, the <value>.ToString("u") is used. The value is stored correct.

Upon reading the stored datetime value as string, the time is not correct. Time is not correct due to timezone (z) in the stored string.

Solution could be:
A) <value>.ToUniversalTime.ToString("u")
B) Allow sup

[2017-07-13 20:56] HarpunDK commented on #21
Hi

I tried to inject/add a customer DateTime parser on the wrong branch. Adding a parser with existing type-support "OnConfigure" will overrule previous added.

Please consider Option A then, if a better solution exists. This issue should be global I think and to my local solution. Let me know if I can assist.
Thank you for a great framework.

[2017-07-14 10:54] aloneguid commented on #21
@HarpunDK thanks for reporting this, it's a bug indeed. The fix should be on NuGet in a minute or so :)

[2017-07-14 19:21] HarpunDK commented on #21
Works like a charm. Thank you for your quick response.

[2017-07-14 19:21] #21 closed

[2017-08-01 09:20] #20 closed

[2017-08-01 13:49] aloneguid opened #24 "Support Yaml configs"
Yaml links: http://yaml.org/

[2017-08-08 19:28] #13 closed

[2017-08-08 19:28] #11 closed

[2017-09-06 17:48] #24 closed

[2017-09-20 11:35] jsobell opened #28 "Order of stores is not honoured!"
The order of items added using `AddStore` is not honoured because the underlying container is a `ConcurrentBag`, which is unordered, so the enumerator does not return the values in the order they were added, and store priorities are ignored.
This is a major issue if you're using more than one store!

[2017-09-21 10:26] #28 closed

[2017-09-21 11:51] jsobell commented on #18
@aloneguid Ivan, I think these are now covered in the #29, but I realised I haven't covered YAML, so I'll do that tomorrow and create another PR.
Relative location is covered by the Store Order tests as they load the JSON files from a relative location.

[2017-09-21 12:06] jsobell opened #30 "Use of fields instead of Properties causes problems with interfaces"
Is there any particular reason readonly fields have been chosen? Is this simply some sort of preference for reflection identification of relevant properties?
This causes a major issue in that it's not easily possible to define interfaces for configuration objects, so if you define `IServerConfiguration` you can only specify an interface by implicitly specifying interface members and pointing them

[2017-09-22 14:32] aloneguid commented on #30
I don't see a reason why not, just need to write a couple of tests to check that properties are OK, config.net uses reflection to find source objects.

The reason it's not there is simply because we never had such problem. I would normally pass values to constructors and won't have any dependency on configuration outside of startup code. That also makes classes unit-testable with no fancy dependen

[2017-09-23 09:55] jsobell commented on #30
I took a look at this, and there is a tricky issue that has me slightly stumped.
Because each field is an Option<T>, reflection is used to iterate over the fields, retrieve the value, and part of the initialisation is to set `_parent` to `this`.
Now if we use properties, the call to `GetValue` returns a proxy referring to what appears to be a different instance of the Option, so setting `_parent`

[2017-09-23 12:52] jsobell commented on #30
OK, my stupidity.
`Option<string> myThing => new Option<string>()`
is *not* the same as
`Option<string> myThing { get; } = new Option<string>()`
even though it behaves in a similar way.

I've created a branch at https://github.com/jsobell/config/tree/property-based that uses properties, but I'm not sure if or how this might be used.  Interfaces on configuration objects are a common requirements, a

[2017-09-28 12:33] aloneguid commented on #30
I'm working on a prototype of v4 which should allow doing something like this:

[code]

[2017-09-28 12:34] aloneguid commented on #30
@jsobell your issue got me thinking about better design and I couldn't stop :)

[2017-09-28 14:09] aloneguid opened #33 "Premium command-line support"
At the moment it's just a weak binding in a form of param name to param value, however it would be an excellent feature to support command line fully.

That includes generating help pages, supporting positional arguments, validating parameter sets etc.

[2017-09-28 23:29] jsobell commented on #18
Hi Ivan, I think you can close this now. YAML was covered by #31

[2017-09-28 23:46] jsobell commented on #30
You're on a roll :)
The use of attributes is a much tidier solution in general, although they need to be on the object rather than the interface. One reason is that the default value initialisers need access to the classes themselves, and you don't want to be referring to classes from within the interface.
Another reason is that if you include custom attributes in the interface, every project usin

[2017-09-29 08:14] #18 closed

[2017-09-29 08:37] aloneguid commented on #30
Hi @jsobell, I really like your ideas. Just added you as collaborator on this repo )

I think it can be done in steps in V4, let me know your thoughts:

1. Having an interface and `OptionAttribute` on interface members. There is a dependency on Config.Net still, however see the next steps.
2. As you say, allow specifying attributes in derived classes, and change `ConfigurationBuilder` to allow spe

[2017-09-29 08:39] aloneguid commented on #30
I've also lowered .NET Standard requirement to 1.4, mostly to be able to use in UWP apps.

[2017-09-29 11:43] jsobell commented on #30
OK, thanks for that. But... I'm no Git guru, so most of the time I'll do it on my own repo and get you to check it and merge :)
I'd hate to be responsible for screwing up the live nuget package :)

Re your other points:

1. Yes, the class has a dependency, but if the interface is moved to another project that's dependency is removed. As a result your main configuration project needs a reference, b

[2017-10-12 08:41] aloneguid commented on #9
deprecated due to changes in 4.0

[2017-10-12 08:41] #9 closed

[2017-10-12 08:44] aloneguid opened #34 "Allow specifying OptionAttribute on derived class"

[2017-10-12 08:45] aloneguid opened #35 "Allow specifying derived classes in ConfigurationBuilder"

[2017-10-12 08:46] aloneguid opened #36 "Annotation with custom serialisers"
I can add another property to Option a tribute, like WithTypeParser.

[2017-10-12 08:46] aloneguid commented on #30
@jsobell I've raised these points as separate issues in the tracker, please feel free to grab any of them ;)

[2017-10-12 08:46] #30 closed

[2017-10-12 08:46] #33 closed

[2017-10-12 08:48] aloneguid opened #37 "Make it .NET Standard 2.0 compatible"

[2017-10-17 08:12] #37 closed

[2017-10-17 16:49] aloneguid opened #38 "Interface hierarchy"
When an interface derives from another interface, all properties should be able to be used in configuration.

[2017-11-17 17:04] #38 closed

[2017-11-23 22:43] michaelrall opened #39 "StringArrayParser does not support Strings surrounded with hyphens"
It is not possible to set string values within an string array parameter that have whitespaces (e.g. filenames /paths). Surrounding with hyphens does not help, because the StringArrayParser justs splits by whitespace.

Example:
`TestArrayWSpace="testArrayA and B","testArrayC","TestArrayD or E"`
will result in
`testArrayA|and|B|testArrayC|TestArrayD|or|E`
instead of
`testArrayA and B|testArrayC|Tes

[2017-12-01 10:45] aloneguid commented on #39
I see your point, sounds interesting. In order to do that we need to implement some sort of escaping mechanism like command line does, to be able to include quotes in quotes etc.

Are you up for implementing this?

[2017-12-01 11:19] michaelrall commented on #39
Yes I could do that.

At first I would search and evaluate possible escaping-mechnisms that would work for all store-types so that we won't have different syntax for different stores.

Do you have a place where you would put that information or should we collect that in this issues' comments?

[2017-12-01 11:21] aloneguid commented on #39
Great. I don't mind, I think ideally it should be described in markdown documentation, but we can also keep the discussion going here.

[2017-12-01 11:44] michaelrall commented on #39
just for organization: i would pull your lib, create branch for this issue, make my changes and push the new branch, then you would merge it if everyting fits?

[2017-12-01 12:02] aloneguid commented on #39
hey @michaelrall you'd usually fork, make changes and create a PR in GitHub, this tutorial explains how https://guides.github.com/activities/forking/

[2017-12-01 12:31] michaelrall commented on #39
aah, now I see (it's my first time to contribute to github), but the concept seems to be the same as my first thought :-P

[2017-12-01 20:50] ElijahReva commented on #35
For instance, is there any way to add `INotifyPropertyChanged` to option object other than using the additional proxy object? I'm using 4.1.0 Config.Net.

[2017-12-04 08:07] aloneguid commented on #35
@ElijahReva not exactly following you.

[2017-12-04 11:58] michaelrall opened #40 "DoubleParser does not respect locale Settings"
When running the UnitTests on a Windows-PC with german locale settings, the DoubleParser-Tests fail.

# Reason
On Parsing the String-Values, there is no locale set, so the system locale is used. Due to the fact that the test-data has a point as decimal separator (for german locale a comma would be correct), the parser results in a wrong number (e.g. "1,797693" results in double value "1797693").

[2017-12-05 13:16] aloneguid commented on #40
As awful as it may sound I'm keen to use specific locale to parse doubles. This will ensure that if another service reads the same config but uses different culture it's still readable.

[2017-12-05 14:51] michaelrall commented on #40
I don't thinks thats awful at all. In my opinion it's much better to have a defined and documented behavior than an excpected or even worse a variable/dependant behavior. In addition in this case you would have no disadvantages because the information quality will stay the same regardless which locale you will chosse finally.

[2017-12-05 19:19] aloneguid commented on #40
Thanks just putting in a fix for all types. Still testing that nothing breaks)

[2017-12-05 21:45] michaelrall commented on #39
Oh boy, after reading some stuff about different escaping mechanism for the supported formats (JSON, YAML, CommandLine, etc.) that doesn't look so good. Basically one would have to use different escaping-characters for different stores,

A possible root of the problem is, that internally the string-array is converted to comma-separated-string and this value is stored as "single" string to the stor

[2017-12-05 22:02] michaelrall commented on #39
maybe one could use the JSON-Array-Format to represent string-arrays, but that would be a breaking change for existing config-entries

[2017-12-06 09:36] aloneguid commented on #39
@michaelrall yes it's a pain :( A lot of stores, if not most,  do not support string arrays for serialisation, so this has to be converted to a string somehow anyway. The problem with JSON is that characters [need to be escaped too](http://json.org/) plus you have brackets and quotes around values, so in some terms it's harder that command line syntax.

Although when writing back to JSON, it's nic

[2017-12-06 09:45] aloneguid commented on #39
@michaelrall btw why not adopting command-line syntax? I.e. space-separated values. If they have spaces they're taken in quotes. Quotes are escaped etc.

[2017-12-06 20:10] michaelrall commented on #39
I absolutely agree to have a simple syntax, because that's one of the goals of config.net. Maybe one could accept the current issue as limitation.

[2017-12-11 17:42] #40 closed

[2017-12-11 17:43] aloneguid commented on #39
Sorry for the delay. Have you decided to implement this or accept the current limitations? :)

[2017-12-11 21:21] michaelrall commented on #39
To be honest, as long I don't have a good solution that aligns with the spirit of config.net I think I'll accept this as limitation - maybe there will be a sudden flash of inspiration :-)

[2017-12-12 10:00] aloneguid commented on #39
That's fine. TBH i'm not using string arrays because of the same reason as you are :) Just had some thoughts on this though:

- as a first stage we could implement a syntax similar to command-line
- some stores like JSON have arrays support internally, however `IConfigStore` does not expose any metadata allowing them to utilise this. I'm not sure whether it's good or bad. Pros - extremely easy to

[2017-12-12 11:50] aloneguid opened #41 "Support methods on configuration interfaces"

[2017-12-12 11:52] #41 closed

[2017-12-13 09:19] aloneguid commented on #39
I've done sort of a simple implementation, it's better than the current one but not perfect, available in 4.4.0

[2017-12-13 09:19] #39 closed

[2017-12-13 09:30] #35 closed

[2017-12-13 09:33] aloneguid opened #42 "Reusable interfaces"
It would be great to have interfaces as getter properties in configuration interfaces themselves. It will allow some sort of reusability when configuration sections have an identical structure i.e.

[code]

[2017-12-15 10:06] aloneguid opened #43 "Positional parameters in commandline with ':'"
When specifying positional parameters in commandline and they have `:` in the value, like `program.exe c:\path.txt` parser considers `:` as key-value separator and doesn't extract the value.

[2017-12-15 10:14] #43 closed

[2017-12-18 09:46] aloneguid opened #44 "JSON provider doesn't support hierarchy"

[2017-12-18 09:46] aloneguid opened #45 "Extract JSON provider into a separate library"
To avoid direct newtonsoft.json dependencies

[2017-12-18 10:30] aloneguid opened #46 "Support arrays natively in JSON store"
string array can be supported natively.

[2017-12-18 22:33] #44 closed

[2017-12-20 21:48] #42 closed

[2017-12-20 21:48] #34 closed

[2018-01-02 21:41] #45 closed

[2018-01-03 21:57] Good-man opened #47 "Registration of Custom Parser"
I have implemented a custom parser, but I do not see how to register it.  I do not see a ContainerConfiguration in version 4.5.0.76.  Was it removed?  Was it added to a later version?

[2018-01-04 09:30] aloneguid commented on #47
@Good-man thanks for pointing this out, it was left out for some strange reason in 4.x but was available in 3.x and the docs are also still for 3.x. I'm working on it right now.

[2018-01-04 09:40] aloneguid commented on #47
@Good-man just release v4.6 which fixes this issue, and updated docs at: https://github.com/aloneguid/config/blob/master/doc/CustomParsers.md

[2018-01-04 13:18] Good-man commented on #47
Thank you @aloneguid!  However, now .UseJsonFile() is missing.  Did you remove this method?

[2018-01-04 15:06] aloneguid commented on #47
my bad @Good-man, sine 4.5.x json support is in a separate nuget package - https://www.nuget.org/packages/Config.Net.Json to minimise external dependencies of the core library.

[2018-01-05 18:22] Good-man commented on #47
That did the trick!  Thank you!

[2018-01-05 18:22] #47 closed

[2018-01-10 12:56] aloneguid opened #48 "Entity arrays"
Support entity arrays i.e. I'd like to save and load an array of interface instances.

- [x] read simple collections
- [x] read interface collections
- [x] documentation

[2018-01-18 15:28] Nihlus opened #49 "Mono debugger crashes when inspecting an interface instance in the debugger"
I'm currently using Rider to develop Mono-target `net462` applications, and when attempting to inspect an interface instance, the debugger crashes. I'm unsure what the cause is, and I haven't been able to narrow down a cause in the interface itself. Even a simple string-typed single-property interfaces causes this behaviour.

I'm using the INI file store. I've attached the crash log from [Mono][1]

[2018-01-18 15:46] aloneguid commented on #49
@Nihlus I'm not convinced config.net is causing this.

[2018-01-18 15:51] Nihlus commented on #49
It's very specific - as soon as an instance produced by config.net comes into view in the debugger, the runtime crashes. Is the library doing anything in particular with debugger displays or its ToString methods?

[2018-01-18 15:59] aloneguid commented on #49
@Nihlus not really, it's doing a fair bit of reflection, but nothing unsafe etc. I'm afraid if you're using Mono you'll have to investigate it yourself, this runtime is a bit deprecated.

[2018-01-18 16:02] Nihlus commented on #49
Mono is far from deprecated. .NET Core does not support any form of UI frameworks, and Mono has greater API coverage - not to mention that it supports more platforms. I'll pass the crash on to Mono's bugzilla and see if I get any input there.

[2018-01-18 16:20] TheBlackCentipede commented on #49
@Nihlus I could argue that CoreCLR/.Net Core are basically broken in comparison to Mono, so Mono is far from being deprecated. And internally, CoreCLR is written in C++ while Mono is written in C, so it's a lot easier than you think to access CLR internals in Mono than CoreCLR which enables some extreme optimizations to be made.

[2018-01-18 18:42] aloneguid commented on #49
@Nihlus @TheBlackCentipede  I'm happy for you guys to fix Mono issues, I just don't have enough knowledge of this runtime. Is it used only in Unity 3D these days?

[2018-01-18 21:44] Nihlus commented on #49
This issue was fixed in the Mono 5.8 release. Updating to the beta release candidate is a good workaround for now.

As for Mono's usage, it's used for just about every desktop application with a UI on systems that aren't Windows. It's for far more than just unity or a stray application here and there.

[2018-01-18 21:44] #49 closed

[2018-01-18 23:48] TheBlackCentipede commented on #49
@aloneguid It is used by Unity 3D, but it's also used for various other projects that may not be as obvious such as applications that use GTK or being used to make Windows Compositing software and so forth. When using Mono, it have pretty solid CLR API that you can internally register some internal calls that are written in C/C++ to handle the marshaling manually rather than leaving it to Mono CLR

[2018-01-30 18:42] ghost1372 opened #51 "nuget"
is there any nuget package?

[2018-01-30 18:44] aloneguid commented on #51
Of course, it's on the front page, here is a link https://www.nuget.org/packages/Config.Net

[2018-01-30 18:45] ghost1372 commented on #51
tnx please update readme.md and put nuget link

[2018-01-30 18:46] aloneguid commented on #51
@ghost1372 it is there and was there all the time ;) Next to the title.

[2018-01-30 18:48] ghost1372 commented on #51
Yes its there, i didnt see it, why i cant install it on NetFramwork 4.5? installed only on netframwokr 6

[2018-01-30 18:50] aloneguid commented on #51
It supports as a minimum:
- .NET Framework 4.5.2
- .NET Standard 1.4

[2018-01-30 18:52] ghost1372 commented on #51
if i use net 4.5.2 with this lib and in my client netframwork 4.5 installed, my app run correctly?

[2018-01-30 18:56] aloneguid commented on #51
@ghost1372  seems right to me, do you get any error when installing nuget package?

[2018-01-30 19:05] ghost1372 commented on #51
in 4.5 i get error, now i installed on 4.6 and its awsome 👍
i will test on 4.5.2

[2018-01-30 19:59] ghost1372 opened #52 "Support group items and array style"
I do not know if such a feature is available in this library, but it would be better if it were.
Data grouping
![s](https://user-images.githubusercontent.com/9213496/35587684-c189edfa-0613-11e8-85a0-268dacfb8e15.png)
and in json
![default](https://user-images.githubusercontent.com/9213496/35587890-4e804a10-0614-11e8-80fa-430485ffc35d.png)

I used the array, but the result is not interesting
in jso

[2018-01-30 21:41] aloneguid commented on #52
I know the pain, there is an issue open already for this #46 for JSON provider.

[2018-01-30 21:41] #51 closed

[2018-01-31 20:08] aloneguid opened #53 "Methods in nested interfaces do not return values"
[code]

calling `_config.Nested.GetNested("section");` does not return a proper value.

[2018-02-01 13:29] #53 closed

[2018-02-01 13:29] #48 closed

[2018-02-01 13:30] aloneguid commented on #52
@ghost1372 regarding .ini files, the space separated format is much better, you'll see that when working more with arrays in .ini. Introducing brackets and commas, or just about anything, will add more complexity and force you to do special escaping which is not required at the moment.

[2018-03-28 20:18] azurecoder opened #54 "Issue parsing NetworkCredential"
Password ends up combination of password and domain.
Fix: to replace string s with creds in Utils class. Code and test to follow.

[2018-03-28 23:11] #54 closed

[2018-03-29 20:24] HarpunDK opened #56 "DateTime loss of precision, miliseconds are lost in "translation""
Hi Config.net

First of all, it's been a while since I've last used this package - NICE WORK on the doc and in the usage of Interfaces - very pleased with that.

I have an issue with datetime and miliseconds getting lost.
The "u" in DateTime.ToString skips miliseconds.

I've tried adding a TypeParser supporting DateTime - tried to overwrite the existing TypeParser in Core. My own parser is used in

[2018-04-04 10:43] aloneguid commented on #56
Thanks @HarpunDK for kind comments, appreciate it ;) You can overwrite built-in parsers, I've just created a test. This can be set during configuration stage like this:

[code]

The last added parser for a type always wins in terms of priorities, therefore if `MyParser` implements `DateTime` parsing it will be used for both reading and writing.

[2018-04-04 10:49] aloneguid commented on #36
Not sure this is required anymore, as you can use custom parsers and scope them to configuration builders

[2018-04-04 10:49] #36 closed

[2018-04-04 10:52] aloneguid opened #57 "Allow specifying file content when using INI or JSON store"
Sometimes you don't have file on disk, especially when there is not disk available, however you do have a file content available. Apparently writing will not be possible, however it should be allowed to initialise a store from the file content.

[2018-04-07 08:53] minhhungit opened #58 "Can not debug TryParse when create a custom Parser"
Hello @aloneguid and team, as title I can not debug TryParse method in custom parser. I don't sure if it is problem of my computer. I **can** debug `ToRawString`.

btw, how to verify settings when app start. I want to make sure that it will throw error if there is some mistakes, for example, if we setup setting wrong format then application should warning us before it does anything.

Here is my cu

[2018-04-08 21:31] #57 closed

[2018-04-09 06:48] aloneguid commented on #58
Hey. `List<T>` is not really suitable for storing custom types as library will (soon) use it for storing enumerated types. You can however create a new user class, for example see `JiraTime.cs` implementation.

[2018-04-09 06:48] #58 closed

[2018-04-09 06:49] #56 closed

[2018-04-09 14:24] minhhungit commented on #58
@aloneguid  you mean it can not debug `TryParse` method if we use List<T> ?

[2018-04-09 16:39] aloneguid commented on #58
No, you are better creating a new class which can have List<T> as a member. To avoid conflicts.

[2018-04-09 16:59] minhhungit commented on #58
@aloneguid thanks

[2018-04-09 17:01] aloneguid opened #59 "Drop JiraTime"
The type is not used and implementation is flawed

[2018-04-12 16:32] #59 closed

[2018-04-12 21:48] aloneguid opened #60 ".INI provider comments"
.INI provider should have a settings "comments allowed" which when false can ignore the ';' character anywhere in the string.

[2018-04-18 22:38] #60 closed

[2018-04-20 07:27] maelgrove opened #62 "Better support for saving configuration"
The current support for 'saving' configuration is rather poor as it is only possible to set individual configuration values through property setters, which doesn't work nicely with configuration stores that maintain their own state and require explicit change commits:

- It's either not possible to save configuration at all (AppSettings, database transactions) etc.
- If commits are being done with

[2018-04-23 18:37] aloneguid commented on #62
@maelgrove it makes perfect sense. Originally this was designed mostly for simplicity, therefore the behaviour was left as is. I'm aware that many adapter can have batched behaviour / transactions so happy to help here. The question is whether you are talking about real transactions and ability to revert changes or simply to optimise write speed. The first one may need more work, whereas the secon

[2018-05-14 14:51] #46 closed

[2018-05-22 11:35] jwillmer opened #63 "Writing configuration"
I don't have any config file in my project since I like the tool to look for an existing config file first. My assumption is that the line below will create a new config file and write the default settings in it but it doesn't work. Is there a build in method to do this?

[code]

[2018-05-22 12:04] aloneguid commented on #63
Hi @jwillmer the app.config provider is read-only at the moment therefore no files are created. It's a tricky question whether it should be writeable or not as many applications like asp.net are configured to restart as soon as config changes are detected. This can be implemented though.

[2018-05-22 12:12] jwillmer commented on #63
My workaround is now as following:

[code]

But using `Settings.MyPortValue` only returns me the `[Option(DefaultValue = 54400)]` and not the one specified in the config.

[2018-05-22 12:39] jwillmer commented on #63
Never mind, it got to complicated. I use now `Newtonsoft.Json` and wrote the following code for it:

[code]

[2018-05-22 12:39] #63 closed

[2018-05-31 14:35] aloneguid commented on #52
closing this as collections are now supported!

[2018-05-31 14:35] #52 closed

[2018-06-21 18:54] gabrielizalo opened #64 "How manage custom sections with in AppConfig?"
Hello,

Having an app.config like this one:
[code]
I can read easly `app key` **SourceFolder**, but how I can read the categories into `CategorizerSettings` section?

Thanks

[2018-06-28 06:55] paul-barton opened #65 "Aliases do not work with Collections"
Config.Net does not find aliases when used on collections.

Not sure if related to nested structure but should be able to reproduce by:
using following interfaces:
[code]
and using json store:
[code]
and json:
[code]

Above is a simple example of my config but should reproduce the issue I believe. If not I can update a more specific example. Workaround is just to not use the alias on the collectio

[2018-08-09 22:13] maelgrove opened #66 "Replace type parsers with TypeConverters"
The current implementation uses the `ITypeParser` contract and various implementations to parse from and convert to configuration values. While this contract is neat and definitely communicates it's intention, it's more or less a duplication of the `TypeConverter` built-in in the .NET framework. The result of that is basically re-implementing a lot of conversions when for a good part the built-in

[2018-08-09 22:14] maelgrove opened #67 "Introduce IConfigSourceProviders"
Currently, the implementation checks whether it can write to a `IConfigStore` (via `CanWrite`) or can read from it (via `CanRead`). This sort of 'meta-information' could be provided by a new service type called `IConfigStoreProvider`, which would be registered within the `ConfigurationBuilder` instead of the actual source. This change would not only provide some additional separation of concerns,

[2018-08-09 22:15] maelgrove opened #68 "Add DataProtectionScope to the OptionAttribute"
This change would introduce some additional optional step after parsing/converting the values which would allow to encrypt/decrypt the configuration values. There must be some way to determine whether a `IConfigStore` actually supports the flag, since having a user entering an encrypted string into e.g. the command line sure would make no sense.

[2018-08-09 22:16] maelgrove opened #69 "Add support for calculated configuration values"
Sometimes, configuration values need to be 'calculated' based on other configuration values, or be retrieved from the current environment, constants etc. The current implementation assumes that every configuration value comes from a dedicated, decoupled `IConfigStore`. A way to introduce this feature would be utilizing Castles `CreateInterfaceProxyWithTarget` method on the `ProxyGenerator`. The im

[2018-08-09 22:18] maelgrove opened #70 "Support transactional IConfigStores"
Hi.

I'm currently fiddling around with your library code, testing out different feature implementations based on some ideas I've had. I won't provide PRs yet since those require a certain amount of extended work (unit tests etc.) and almost always introduce a breaking change with what I got in mind, but I've decided it might be worth sharing some of them to hear your opinion about it. The ideas a

[2018-08-09 22:19] maelgrove opened #71 "Store each value based on where it came from"
The current implementation stores each change into every `IConfigStore` registered when setting a configuration value, which absolutely makes no sense since you wouldn't want to have your persistent file configuration values end up in a more temporary location, like the environment variables upon setting them. The library should keep track of where a certain configuration value has been retrieved

[2018-08-09 22:20] maelgrove opened #72 "Introduce change tokens"
It would be nice to be notified about a change in the configuration through external components, e.g. if a user manually modifies a configuration file during runtime. [aspnet/Configuration](https://github.com/aspnet/Configuration/blob/8cef9525262ca039e3b81453c989ba94b7fcc572/src/Config.Abstractions/IConfiguration.cs#L42) offers this feature using a custom change token based on a `CancellationToken

[2018-08-10 17:27] aloneguid commented on #66
This shouldnt be a problem, definitely. You can get rid of conversion code if it's already part of the framework core.

[2018-08-10 20:09] maelgrove opened #73 "Bool alias conversion from core parsers produces unexpected results when writing"
The current `CoreParsers.cs` allow converting to boolean values from alias strings like "yes", "true", "1", "no" etc. While this seems quite handy at a first glance, it produces unexpected results when writing a boolean value back, since the [ToRawString](https://github.com/aloneguid/config/blob/231b2c776dcf8cb9d15cdde6ec261f7ad2138af4/src/Config.Net/TypeParsers/CoreParsers.cs#L33) method of the c

[2018-08-10 21:30] aloneguid commented on #73
Hm from what i remember many years ago it was done because configs were edited by non technical people and we had issues parsing correct values back, this was primary reason.

The issue with remembering original syntax is that value may be written to a store different from where it was read, or it may not exist at all. Hence it's written in the most common form true/false. I guess this may cause i

[2018-08-10 22:34] maelgrove commented on #71
I've created a branch for this over here: [config/values-to-origin](https://github.com/maelgrove/config/tree/values-to-origin) however I'm not quite sure whether to pursue this any further. On one side, it fits the principle of least surprise, as configuration values which originally haven't been defined in a configuration store won't be stored everywhere upon setting them. However, that way it wi

[2018-08-10 22:52] maelgrove commented on #73
I can definitely understand the intention behind it, but I've got a few other thoughts concerning this based on what I learnt from working in a huge company with primarily non-tech-savvy clients:

- Customers rarely edit e.g. configuration files themselves. First, because they might not even be aware of their existence, second because such people are oftentimes scared of hacking around in files li

[2018-08-11 14:31] aloneguid commented on #72
I'm not quite sure how it's going to work. In case of files on disk monitoring for changes is relatively straightforward i.e. FileSystemMonitor exists on all OSes, however even that is hard to make to work reliably. Monitoring something like Azure Key Vault involves scanning it in background. Or when config is initialised by file content it's just impossible. I needs it needs more thought.

[2018-08-11 14:37] aloneguid commented on #68
You could probably create an implementation of `IConfigStore` which takes another IConfigStore as a dependency and proxies the calls, at the same time encrypting/decrypting them? So they can be chained together.

Of course the library can provide a convenient way to configure chaining.

[2018-08-11 14:39] aloneguid commented on #64
This is not supported at the moment, however you can extend existing config store to add this easily as it depends on standard ConfigurationManager.

[2018-09-02 01:10] vector-man commented on #66
This would be great! Looking forward to using this library on my current project.

[2018-09-02 02:47] vector-man opened #75 "POCO Support"
How do you handle POCOs? I have some arrays of classes I would like to save to disk:

E. G. Authors[], Books[], etc.

[2018-09-02 02:48] #75 closed

[2018-09-02 02:54] vector-man opened #76 "Are arrays read only too?"
Can you save arrays of complex datatypes with your library?

[2018-09-03 20:55] maelgrove commented on #66
@vector-man What do you mean by automatic POCO handling?

[2018-09-03 21:08] maelgrove commented on #73
Closing since possible solution with 'strict' parsing mode.

[2018-09-03 21:08] #73 closed

[2018-09-03 23:28] vector-man commented on #66
@maelgrove I mean saving objects without writing converters.

[2018-09-10 10:58] aloneguid commented on #66
Hey guys, this is coming very soon, there is a prototype I've build already. It's taking time as there are a few issues.

Originally config.net was designed to handle key-value stores easily editable by humans. Of course this is not an issue with rich formats such as XML or JSON because POCOs can be represented easily there. What's more complicated is how do you put a POCO into something that is n

[2018-09-10 10:59] aloneguid commented on #76
@vector-man at the moment they are read-only, this needs some extra work for writing. I'm happy for anyone to have a look at this.

[2018-09-10 11:01] aloneguid commented on #70
I totally see your point. I think one can implement transactions outside of the stores themselves, inside the core library, as long as store interface supports batched save.

[2018-09-13 19:07] maelgrove commented on #66
@vector-man
The intention behind using type converters as this issue suggests is not having the ability to serialize entire object structures, but to use an existing, framework built-in approach to converting types instead of a dedicated solution.

@aloneguid
I'm not sure how exactly this should be done, and if it's really a practicable requirement. Suddenly having json-strings ending up in .ini f

[2018-09-13 19:16] maelgrove opened #80 "Remove 'IsVisible' check from configuration builder"
The current configuration contract verification checks in the `ConfigurationBuilder` expect the interface to be visible from the outside of the assembly. This kinda makes sense as Castle.Core needs to be able to reflect the type in order to create a proxy, but being forced to expose a possibly internal contract isn't that nice either.

Suggestion:
Remove the `.IsVisible` check and state in the doc

[2018-09-26 14:17] aloneguid commented on #80
Makes perfect sense. Unless someone thinks of a better idea how to make it possible to consume private types.

[2018-09-26 14:46] aloneguid commented on #75
config.net might not suit this, it doesn't deal with serialisation. You can however serialise to string first and write/read with config.net.

[2018-09-27 10:37] dpaissan opened #81 "Do you plan to support ConfigurationManager.ConnectionString?"
Hello, I am wondering why only `ConfigurationManager.AppSettings` is involved in this library and the `ConfigurationManager.ConnectionString` is not accessible from anywhere.

Do you plan to support `ConfigurationManager.ConnectionString`?

[2018-10-02 23:11] mechjman opened #82 "Json decimal throws exception"
Hi team, when using a decimal for a value I get the following exception:

`Unhandled Exception: System.NotSupportedException: type System.Decimal on object 'PaymentAmount' is not supported.
   at Config.Net.Core.Box.BoxFactory.ValidateSupportedType(ResultBox rb, ValueHandler valueHandler)
   at Config.Net.Core.Box.BoxFactory.DiscoverProperties(Type t, ValueHandler valueHandler, Dictionary`2 result

[2018-10-04 09:44] berge2007 opened #83 "Create default config file at engine/software start"
Hello,

Is there any way to trigger Config.NET engine to save all the properties into INI/JSON/etc. config file if the  config file doesn't exist at software start?

Other words, create a "default" config file when config file doesn't exist at program start.

[2018-10-05 19:06] RyanLilla commented on #80
I can take this on if it is still available!

Just to make sure I am understanding the requests correctly:

- We want to remove the .IsVisible check within the ConfigurationBuilder constructor located at:
        config/src/Config.Net/ConfigurationBuilder.cs

- State in the README.md that users will have to add the above declaration in their assembly if internal types want to be used

Does this so

[2018-10-05 19:19] aloneguid commented on #80
Please go ahead, no one started working on it yet to my knowledge.

[2018-10-09 10:04] sobotkami commented on #83
Not sure if it's the right way for you or the right way with this library, but there is one possible way:

[code]

[2018-10-09 10:10] aloneguid commented on #83
It's a possible workaround, however I'm not sure this will create keys at all as default behaviour for stores is to delete the key from destination if it has default value in order to save space. We probably need an overload somewhere which forces store implementations to create empty keys with default values.

[2018-10-09 10:13] sobotkami opened #85 "Usage of default value"
Hello,

if I provide the default values there is no option to get "notification" that the default value was provided instead of the null value.

Use case:
1) The user starts the App
2) App loads the config file
3) Some key is missing (check for null)
4) App should inform the user that the key is missing and provide a solution to this problem that the default value will be used

This is not possibl

[2018-10-09 10:20] aloneguid commented on #85
Is it important for the user that the key is missing? Unless you are wring an application to edit configuration files I'm not sure this is valid. The idea is your application shouldn't care where the value comes from as what user gets may not be what's in a specific file, especially when there are multiple configuration sources configured.

Alternatively, you can create an extension method (having

[2018-10-09 11:35] sobotkami commented on #85
This is actually exactly my the case. I have an Installer, an App and a library with the settings interface. Both of the Installer and App uses the same settings interface from the library. So have I all the pieces of information in one place.

Maybe the option to say no matter if the default value is set (there is a default value in the annotation) or not, don't load the default values?

[2018-10-16 15:39] #80 closed

[2018-10-22 03:41] mikefoxnobel commented on #82
More basic types are supported.
Version updated on 2018-10-16, please try new version.

[2019-01-23 12:13] aloneguid commented on #64
they are all supported since version 4.12, see https://github.com/aloneguid/config/blob/master/doc/Stores_AppConfig.md

[2019-01-23 12:13] #64 closed

[2019-01-23 12:26] #72 closed, assigned to nobody

[2019-02-12 03:41] bluebaroncanada commented on #81
I guess not ...

[2019-02-12 07:55] aloneguid commented on #81
It's already supported, the docs have been updated

[2019-02-12 07:55] #81 closed

[2019-04-03 19:57] feitzi opened #88 "Overriding Or fallback support"
I am currently evaluating some configuration libraries. This library looks pretty good to me :)
But I am wondering why you do not support fallback scenarios.
I want to use a configuration structure like this:
* config.default.json
* config.prod.json
* config.server1.json

server1.json overrides prod.json and prod.json overrides default.json. Naturally, this works only if you are in prod environmen

[2019-04-03 20:01] aloneguid commented on #88
Thanks @feitzi for a good feedback (contribution will be even better :) ). Yes you can totally do that today with config.net. For instance you can do something like this:

[code]

and so on. It will try to read the values in the order of declaration.

[2019-04-24 15:58] aloneguid opened #91 "Add Azure App Configuration support"
https://docs.microsoft.com/en-gb/azure/azure-app-configuration/

[2019-04-27 10:44] golavr commented on #88
@feitzi you can use the `appsettings.json` similar to ASP.NET configuration.
Handling `appsettings.json` with environment override file `appsettings.{Environment}.json` based on "APP_ENV" environment variable.

See [Mapping to appsettings.json file](https://github.com/aloneguid/config/blob/master/doc/Stores_JsonFile.md#mapping-to-appsettingsjson-file) for more information.

[2019-05-10 12:51] MagicAndre1981 opened #92 "Replace PackageLicenseUrl with PackageLicenseExpression"
The currently used [PackageLicenseUrl should no longer be used](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets) and instead you should use [PackageLicenseExpression](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-a-license-expression-or-a-license-file).

You use [MIT](https://github.com/aloneguid/config/blob/master/LICENSE), so [change the csprj](https:/

[2019-05-10 12:55] MagicAndre1981 opened #93 "Enable Source Link for easier debugging"
### Expected  behavior

Press F11 to step into code and debug the code

### Actual behavior

because no PDBs and source info are found, debugger steps over

### Solution:

[enable Source Link](https://github.com/dotnet/sourcelink#using-sourcelink) to [fetch the source from github](https://github.com/dotnet/designs/blob/master/accepted/diagnostics/source-link.md#source-link-file-specification) duri

[2019-05-10 13:03] MagicAndre1981 opened #94 "Versioninfo in csprok doesn't match nuget version of your lib"
When I compiled the lib to debug the code (because the [lib doesn't support source link](https://github.com/aloneguid/config/issues/93)), I noticed the the version is [4.7.3](https://github.com/aloneguid/config/blob/master/src/Config.Net/Config.Net.csproj#L22) (Config.Net.4.7.3.nupkg) and not [4.13.7](https://www.nuget.org/packages/Config.Net/4.13.7).

So update the version in code when releasing

[2019-05-10 13:07] MagicAndre1981 commented on #92
Here is what I see in VS compile output:

[code]

[2019-05-10 14:39] aloneguid commented on #94
The version is generated by a build pipeline, it overwrites the numbers so it's irrelevant what's the value there.

[2019-05-10 14:39] #94 closed

[2019-05-10 14:39] aloneguid commented on #93
Are you happy to raise a PR for this?

[2019-05-10 15:59] MagicAndre1981 commented on #93
this is very simple to add in a Directory.Build.props:

embedd PDB:

[code]

symbol package:

[code]

[2019-07-24 15:34] aviadmini opened #95 "Custom property name resolution without using OptionAttribute"
Something like
[code]
Implementation would provide a store name for property/method, or null in which case Config.net would default to current logic (Option attribute, or name of property/method)

[2019-08-14 13:08] aloneguid commented on #95
What's the use case? By the way, have you tried using Get/Set **methods** that can be declared on the interface?

[2019-08-14 13:13] #88 closed

[2019-08-14 13:15] #85 closed

[2019-08-14 13:16] #83 closed

[2019-08-14 13:16] #76 closed

[2020-01-10 14:14] LaurentMinot opened #98 "Support of DefaultValueAttribute"
Hello,

Would it be possible to support  System.ComponentModel.DefaultValueAttribute additionally to OptionAttribute(DefaultValue= )?
In my case I don't want to propagate Config.net in all my code (for instances some plugins), and that would be a good solution.

Thanks,
Laurent

[2020-01-10 14:18] LaurentMinot opened #99 "Support writing of Collections"
Hello,
Would it be possible to add the writing of collections?

[code]
Is there a technical reason why it is not there?
For me this is the only blocking point that prevent me from using Config.Net in my existing project.

Thanks,
Laurent

[2020-01-10 15:58] aloneguid commented on #98
I think it's a great idea! Are you happy to raise a PR for this or want me to implement it?

[2020-01-10 16:02] aloneguid commented on #99
Mostly lack of time and/or use cases. Most of my configuration stores are read-only and populated from outside by something like CI/CD pipeline. Happy to look into this, what specifically are you looking for?

[2020-01-10 17:06] LaurentMinot commented on #98
Well it's for my job, so I think I can deal with this one :-)
I'll create A PR next week

[2020-01-10 17:16] LaurentMinot commented on #99
On my side I am mostly interested in the Json store. Also interested in the Azure online configuration but only for some kind of feature flags, no complex data.

**More context:**
I am developping a desktop application for my job, and we have home made code for dealing with config, which stores everything in json file (window state, features enabled/disabled, server urls...)  For some reasons I'm

[2020-01-16 12:57] LaurentMinot commented on #99
Do you plan to work on this one? or do you want me to propose a PR?

[2020-01-16 12:57] #98 closed

[2020-01-16 12:57] aloneguid commented on #99
Please go ahead ;)

[2020-01-30 13:21] koryphaee opened #101 "Entity Framework Core as configuration store"
I am trying to store my config values in a simple key-value table in EF Core. Am I missing something or is this not implemented yet? I also did not find a third-party NuGet package which has such an implementation.

Since I like the concept of Config.Net I would go ahead and implement this feature if it doesn't exists yet. I would then submit a pull request to make this functionality available to

[2020-01-30 13:35] aloneguid commented on #101
You're correct, there is no EF Core provider at the moment. Please go ahead with PR, it will be a great addition.

[2020-02-15 22:52] koryphaee commented on #101
Pull request here: https://github.com/aloneguid/config/pull/102

I tried copying your coding style as much as possible to make the code look uniform. If I missed something please go ahead and adjust it. I also tried to include comments where it makes sense and wrote some tests and documentation.

[2020-03-10 22:23] ChrisonSimtian commented on #99
Do you guys work on that? Is there any workaround?
Im also highly interested in this feature :-) Is there anything that could be done to support this?

[2020-03-18 14:38] ekalchev opened #103 "Thread safety"
Can I set/get properties on IMySettings interface from different threads. I can see IConfigStores are not thread safe but that is not problem for me. I can roll my own but I am not sure if InterfaceInterceptor, IoHandler and other classes in the core implementation are designed to be thread safe?

[2020-04-27 21:12] nkm8 opened #104 "Regression - Positional parameters in commandline with ':'"
Re-open https://github.com/aloneguid/config/issues/43

This is currently an issue because the original fix (remove ':' as a delimiter): https://github.com/aloneguid/config/commit/475e81f7e1889cfb47d35bd75b76d18b115ed754#diff-c0a9531e46e016330ce60f8b8de66495R13

Was reverted: https://github.com/aloneguid/config/blob/master/src/Config.Net/Stores/Impl/CommandLine/CommandLineConfigStore.cs#L15

I am n

[2020-05-20 08:44] feitzi commented on #101
Any news?

[2020-05-25 08:33] feitzi opened #105 "Incorrect collection values if using multiple json files"
If you use multiple json stores and you read a dictionary you get just the values from the last configured store. This is a problem if you dont't have configured the collection in this store.

Some example:
[code]

With that configuration, the values for Creds shout contain the value `user`. But it is an empty collection.
The example just works if you declare the Creds collection in the json file

[2020-06-23 04:50] bepursuant opened #107 "DescriptionAttribute and CategoryAttribute for Property Grid"
I've taken to throwing a property grid in some of my projects to easily edit configuration values. It's not the most flexible, but it works GREAT, and the way this library auto saves values means that selecting the config proxy in a property grid implements a full config UI with zero effort. Beautiful!

But I would love to add Descriptions and Categories to my config properties, so that they group

[2020-07-15 08:06] rkern62 opened #110 "Config Properties not set"
Dear Config.Net Team,
I'm trying to use the package for the first time, but have problems setting configuration property values. They always remain null (or keep their default values).
Here is a very short testsample:

 public class Program
    {
        static void Main(string[] args)
        {
            ITestPrefs _prefs = new ConfigurationBuilder<ITestPrefs>()
                .UseJsonConfig()

[2020-07-15 18:21] rkern62 commented on #110
Found my problem. The store I configured is not writable, so the write operation fails silently. - If I may propose a enhancement, it would helped me a lot if the documentation would be more concise of how the individual stores behave and how to configure it.
Many thanks, yours Ruediger Kern.

[2020-07-15 18:21] #110 closed

[2020-07-28 00:32] jfayre opened #111 "is it possible to iterate through keys and values?"
Hello,
I'm looking at this library for use in my project. In looking at the examples, I don't see a way of iterating through the keys and values in a particular section of an ini file. In my project, I need to run through a section of an ini file with hotkey definitions and define them. I want to do this using a foreach loop.
I'm very new to c#, so it's entirely possible I'm missing something.
Tha

[2020-07-29 20:23] #105 closed

[2020-08-20 09:58] H4xX0r1337 commented on #24
@aloneguid any updates on yaml support?

[2020-10-04 10:08] ekalchev commented on #103
I'll be happy if I have a word on this. Thanks!

[2020-10-08 16:27] CarbonNeuron opened #112 "Force create settings"
Is it possible to write the default values to the json file if it does not exist, instead of just keeping them in memory until the first write?

[2021-01-03 15:02] tekook commented on #107
I don't think the proxy keeps and attributes.
I'm currently working on validating the configuration via DataAnnotation.
The resulting Proxy for the interface is missing all the attributes.

[code]

[2021-01-21 23:20] #112 closed

[2021-03-02 11:35] ivankahl opened #113 "Support for AWS Parameter Store"
First off, thank you for this wonderful library. I was wondering if there was any support for AWS Parameter Store. The software I am currently working on utilizes this quite a bit.

I don't mind writing the implementation and submitting a pull request. Just wanted to know if there was already something maybe?

[2021-06-05 23:18] lucalas opened #114 "[FEATURE] Support hotreload"
Hi, I really appreciate your library and I'm thinking that should be really usefull if you introduce the possibility to add hot reload of the configuration.
For example:
Application is working and I want to change configuration file without restart the application, hot reload help me to achieve this goal.

[2021-07-14 21:54] bepursuant commented on #107
@tekook I'll admit, some of this is _just_ beyond my grasp as a developer. It sounds like the core C# language doesn't support Attribute inheritance from Interfaces, but _clearly_ Config.Net is able to see attributes on the interface, as the "DefaultValue" attribute is supported and respected.

It seems like we can see Attributes for interface members, but they don't carry over to an implementatio

[2021-07-15 10:30] tekook commented on #107
@bepursuant you are absolutly correct.
Attributes defined on interfaces will not get derrived to other classes or interfaces.

Config.Net could look at the original interface, list the attributes and apply them via reflection to the generated class of Castle.
But I think this should be done at Castle, but I don't know how.

[2021-07-22 17:22] ismdiego opened #115 "Incorrect parsing of double, float, decimal in Cultures without "." as decimal separator in JSON store"
If you use a JSON store, you will face this problem with a config file like this:

[code]
If you execute the trivial code:
[code]

You will find out that num1 = 0 (!!!!!). This is caused by a bug in GetStringValue method in JsonFileConfigStore which is using ToString() to convert back the read value into a string. This ToString() takes Culture into account, and so it converts 2.5 to "2,5" (notice

[2021-08-04 06:10] MagicAndre1981 commented on #93
ok, I added [DotNet.ReproducibleBuilds](https://github.com/dotnet/reproducible-builds) via #116  which generates reproducible builds and automatically adds sourcelink.

[2021-08-04 06:19] MagicAndre1981 opened #117 "error NU5125 when compiling the library"
You still use License and Icon URLs, which should be avoided and replaced by [PackageLicenseExpression](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-a-license-expression-or-a-license-file) element:

[code]

and [PackageIcon file](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-an-icon-image-file).

My RP #116 only compiles if `TreatWarningsAsErr

[2021-08-08 16:37] PaulSorauer-IPG opened #118 "Adding Support in Azure Key Vault for Existing Token"
Hi Ivan

Wondering if I might please get access to push a branch and start a PR?

I've made a couple of really simple changes to support creating an Azure Key Vault Store via an existing access token.

I'm using the new MSAL library for authentication to AD using an Azure App Registration. As such I'm not using a client secret but am allowing the user to sign into my app interactively at which poi

[2021-08-21 23:21] bepursuant commented on #107
@stakx kindly [provided details that resolved this issue](https://github.com/castleproject/Core/issues/593#issuecomment-880271397), and I wanted to close the issue with his explanation.

The key is to define a custom Attribute type that inherits from the base DescriptionAttribute and CategoryAttribute, but defines them as non-inherited. When these non-inherited attributes are applied to a property

[2021-08-21 23:21] #107 closed

[2021-08-21 23:26] bepursuant commented on #107
@tekook - take a look at the resolution above. I think you can create similar custom attributes that simply extend RequiredAttribute and MinLengthAttribute with Inherited=false and get the behavior you're looking for :)

[2021-08-22 06:34] stakx commented on #107
@bepursuant @tekook, I'll mention it for completeness' sake, though I haven't tried any of it as my Windows Forms skills have become a little rusty. There's possibly another solution that might integrate better with `PropertyGrid`: customizing proxies' object metadata through [`TypeDescriptor`](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.typedescriptor). IIRC, `PropertyGrid`

[2021-09-07 00:52] tmontney opened #119 "ConfigurationBuilder does not initialize an INI file"
Couldn't find anywhere else to post this.

**When I run Build, I expect...**

1. Create the .ini file (relative path from executing directory or absolute path)
2. Write settings with default values
3. Optionally, write settings with no default value like "MySetting=". (Assuming this is valid for INI.)

**When I run Build, I get...**
- No .ini file.
- .ini file is only created if I set a value in c

[2021-09-16 20:14] MagicAndre1981 commented on #117
any update @aloneguid ?

[2021-09-16 21:29] #93 closed

[2021-09-16 21:31] aloneguid commented on #117
Sorry i've been busy for some time with python/scala/c++ and... rust. I'm back now and promise to be more active ;)
Rebased and released in 4.17.0.

[2021-09-16 21:31] aloneguid commented on #117
All migrated to github actions and packaging fixed according to .net sdk 5. I hope I did it right.

[2021-09-17 05:14] MagicAndre1981 opened #120 ".net 6 support"
Btw, can you add .net 6 to TargetFrameworks and validate that the lib works fine with .net 6? [.net 6 entered RC stage](https://devblogs.microsoft.com/dotnet/announcing-net-6-release-candidate-1/) and is nearly finished.

[2021-09-17 05:14] MagicAndre1981 commented on #117
Yes works better, now I only get the error NU5026 because dlls are not found during build from cli:

221,5): error NU5026: Die im Paket einzubeziehende Datei "config\src\Impl\Azure\Config.Net.Azure.KeyVault\b
in\Release\netstandard2.0\Config.Net.Azure.KeyVault.dll" wurde auf dem Datenträger nicht gefunden.
C:\Program Files\dotnet\sdk\5.0.401\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting\NuGet.Bu

[2021-09-17 07:31] aloneguid commented on #120
It **should** work with .NET 6 as is, but adding explicit target is always good. Just need to figure out how to [install/build it](https://github.com/aloneguid/config/blob/master/.github/workflows/release.yml).

[2021-09-17 07:32] aloneguid commented on #117
ok this is odd because github actions builds it from a clean slate with no issues - https://github.com/aloneguid/config/actions/runs/1243269281. Can it be something with your environment? Could you try to do a clean clone and build just to make sure please?

[2021-09-17 07:35] aloneguid commented on #118
Thank you, changes are always welcome! You [should need to have push access to raise a PR](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request) unless you want to become a repo owner.

[2021-09-17 07:37] aloneguid commented on #114
I think this can be done relatively easily for files that are on local disk with [FileSystemWatcher](https://docs.microsoft.com/en-us/dotnet/api/system.io.filesystemwatcher?view=net-5.0). Of course if a config is remote i.e. Key Vault it will be hard to detect changes without constantly pinging it.

[2021-09-17 07:41] aloneguid commented on #120
I think VS 2019 doesn't support .NET 6 as of yet. Personally I'm not ready for 2022 until [Visual Assist](https://www.wholetomato.com/) is compatible, but if you want it faster please try.

[2021-10-05 07:29] MagicAndre1981 commented on #117
I did this and get the same error when I run `dotnet pack -c Release  /p:PackageVersion=4.17.1-beta /p:Version=4.17.1-beta /p:AssemblyVersion=4.17.1 /p:FileVersion=4.17.1`

I had to run `dotnet build -c Release  /p:PackageVersion=4.17.1-beta /p:Version=4.17.1-beta /p:AssemblyVersion=4.17.1 /p:FileVersion=4.17.1` in first step. So the pack command skips the compile of this 1 project and later compl

[2021-10-05 07:38] MagicAndre1981 commented on #120
The [addon was updated to support VS2022](https://www.wholetomato.com/features/whats-new), so you can now work with VS2022 preview 4.

I personally also can't update to VS2022 as I also miss some extensions, but for users who want to try to port their solutions to .net 6, a compatible version of your lib would be nice.

[2021-10-07 22:01] altmank opened #122 "Saving settings..broken?"
Tried on .NET 4.7.2 and .NET 5.0. Can't seem to get settings to save to the appsettings.json file. I assign the value then the setting doesn't get the value in memory and no data is written back to the json file.

![image](https://user-images.githubusercontent.com/22986384/136468088-588f314d-b84e-4981-a897-77ff917cb2d9.png)

![image](https://user-images.githubusercontent.com/22986384/136468238-64a

[2021-10-13 08:59] LeiYangGH opened #123 "[question] why json and yaml not included in library by default?"
I'm just getting to try this lib, and I've successfuly used it to read/write .ini file. This is great.
[code]

But I don't see any similiar extension method for json and yaml, seems I need add more standalone packages.

So question is why json and yaml not supported by default? isn't json and yaml much more widely used?

[2021-11-01 23:18] martin-braun commented on #123
I wonder myself as well. You have to install Config.Net.Json from NuGet to get it.

[2021-11-03 01:38] LeiYangGH commented on #123
`UseJsonFile` enabled by `Config.Net.Json` is acceptable. but why there isn't `UseYamlFile` after installing `Config.Net.Yaml`?

[2021-11-03 17:06] krztvlmedina opened #125 ".INI is not getting overwritten"
I have an issue that I haven't found a solution to. I have an .ini file that I'd like to keep throughout sessions so the users can modify some global settings and not lose these changes when rebooting the app. I configured the file using `new ConfigurationBuilder<ISettings>().UseIniFile("config.ini").Build()`, and according to the documentation it should allow writing, but the .ini files remains u

[2021-11-10 21:27] bevanw opened #127 "File Not Found With Json File Store"
**Issue**
When using .UseJsonFile(), an exception is thrown when a setting is being written to a JSON file the file does not exist. If the file already exists, the setting will be written correctly.

![Issue](https://user-images.githubusercontent.com/9945007/141194413-56703ec5-759f-4fc1-8ef5-a30986f4e75c.PNG)

**Workaround**
- We have reverted to Config.Json.Net/Config.Net 4.16.2, as this seems to

[2021-11-11 14:27] luojunyuan commented on #127
#124

[2021-11-30 18:23] yegor-pelykh commented on #122
I have the same problem

[2021-12-06 15:47] martin-braun commented on #115
I experience the same problem. My culture locale is "de-DE" and fractioned values will fail to parse properly. @aloneguid would you please apply the PR and publish a new version?

[2021-12-09 11:19] #120 closed

[2022-01-08 20:17] martin-braun commented on #115
@aloneguid Thanks, it works, this can be closed.

[2022-01-11 04:03] aloslider opened #128 "UseJsonFile() throws System.IO.IOException"
### Issue overview
If I understand this correctly, this library gives you an option not to only read, but also write new values to provided configuration (correct me if I'm wrong), so I decided to try out an example from the [documentation](../blob/master/doc/Stores_JsonFile.md) using **UseJsonFile()**, but got System.IO.IOException when attempted to assign "New" value.

**Code:**
[code]
appsettin

[2022-01-11 04:20] aloslider commented on #122
@altmank @yegor-pelykh You need to use "UseJson**File**()" method ([check this doc](https://github.com/aloneguid/config/blob/master/doc/Stores_JsonFile.md)) in orded to read and write to config file, but apparently it will probably throw you another exception, check #128

[2022-01-11 06:44] aloslider commented on #128
I'm totally blind: on MSDN it says that File.Replace will throw an exception if source and destination files are on the different volumes.

[2022-01-11 23:56] martin-braun commented on #65
@aloneguid I can confirm this issue and it drove me crazy. Could you please look into it?

[2022-01-11 23:58] martin-braun commented on #99
This would be a useful feature. Please have it, really appreciate this package, but it needs this feature to really be THE config library for .NET.

Thanks a lot. :)

[2022-01-12 23:15] martin-braun opened #130 "UseJsonFile - manual saving"
I just realized that this library will use the `INotifyPropertyChange` interface to trigger re-writting the JSON file, which is not what I want. What I need is a way to save and overwrite the file *only* when calling a method.

I tried to bypass this issue by using `UseJsonConfig` and using the methods of Newtonsoft to do the saving by myself, but this package will prevent me from modifying my con

[2022-01-12 23:16] martin-braun commented on #104
I agree, `:` is not a well thought parameter in that regards. @aloneguid, can you give some insight how one is supposed to use absolute paths on command args?

[2022-01-13 09:07] aloneguid commented on #65
thanks @martin-braun looking into this

[2022-01-26 10:14] Robin-Wils opened #131 "Flatline syntax - Environment variables - Not working"
Is it possible to add a couple of examples of how the flatline syntax works for environment variables?
I can't seem to get it to work.

I know that the environments store file refers to the flatline file, but what I tried doesn't seems to work.
- https://github.com/aloneguid/config/blob/master/doc/Stores_EnvironmentVariables.md
- https://github.com/aloneguid/config/blob/master/doc/flatline.md

 --

[2022-01-26 11:54] Robin-Wils commented on #131
`Reports.TeamCityBuildLogUrl` worked -- I had to restart visual studio before it successfully reloaded the environment variables.

[2022-01-26 11:54] #131 closed

[2022-02-09 15:36] herao67 opened #132 "[FEATURE] Read from"
Hi, we use your library at work, I really like it. Maybe I miss something, but is there a possibility to as well read configurations from UserSecrets so I don't need to locate the secret.json myself?

https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-6.0&tabs=windows#secret-manager

E.g. like here https://www.programmingwithwolfgang.com/use-net-secrets-in-console-ap

[2022-02-09 15:57] herao67 commented on #132
It actually seems easier than I thought. You can get the path to the secret.json with:
[code]

[2022-02-15 11:32] daniol opened #133 "Changes on nested interfaces properties are not saved when using JSON"
I used the basic example:

[code]

The configuration can be read from the file with:

[code]

But when a change is done in a nested property, the JSON file is not updated:

[code]

JSON file before (empty object)

[code]

JSON file after (empty object)

[code]

[2022-03-21 11:15] PockyBum522 commented on #99
3/21/2022 7AM:
I have set up this: https://github.com/PockyBum522/TypePlayground1 to get the basics down. Right now it only returns List<T> and does not support interfaces or writing/adding/updating the list. I'm just attempting to get basics down.

If there's a better place to put this for people that want to follow along, let me know. Otherwise I'll just be editing this comment.

[2022-03-22 12:24] PockyBum522 commented on #99
Current questions:

I've done enough to show that I can make a (very) rudimentary proxy to intercept things like .Add() and .GetEnumerator() on IList.

I'm to the point where I'd like to start looking through config.net to see how things are done internally and see what I'll need to add to get this working.

My biggest question, how would we like to .Add()? I could make a factory that sets up new

[2022-03-22 15:04] PockyBum522 commented on #91
Is this related to

![image](https://user-images.githubusercontent.com/1970959/159513050-c7d65e27-2dd3-4943-b661-48eebdd1f36c.png)

all these failing?

[2022-03-23 11:46] PockyBum522 commented on #91
https://github.com/aloneguid/config/pull/137

That PR is related to those tests misbehaving. If it's unnecessary because of something I don't understand, just trash it.

[2022-05-04 14:14] PockyBum522 commented on #99
I ended up starting a collections-only project.

https://github.com/PockyBum522/CollectionConfig.net

I will hopefully, once I have this finished, be able to merge it with Config.net and we can have the best of both worlds. It is currently read-only, so no more useful than config.net at the moment, but works!

I will be implementing write support next. Wish me luck.

[2022-07-13 07:43] FrostBird347 opened #139 ".INI can't parse newlines"
Attempting to load a string containing "\n" will not produce a string containing a newline.

For example:
[code]
Will read `Naming.Text` as `"Test1\nTest2"` instead of
[code]
(which I will be referring to as `"Test1␤Test2"` from now on)

In addition, attempting to save the string `"Test1␤Test2"` to `Naming.Text` will produce this file:
[code]

Not only will any subsequent attempt at reading the va

[2022-07-17 12:39] vgdh commented on #128
same issue

[2022-07-21 17:20] jeffward01 opened #141 "[Not a Bug] - Many new updates <3 - The WIKI is broken, can I help fix it?"
Hello!

I noticed that it seems you merged `Config.Net.Json` with `Config.Net` - I think that was a good choice if I am correct because often times `.json` files are used in config, its very common.

I noticed nearly all of the Wiki page URL's are broken. I suspect that its because the wiki page urls changed.

I just wanted to ask:

1. if you need help updating the URL's in the Wiki?
2. What chang

[2022-07-21 18:29] jeffward01 commented on #141
I just realized I had to change:

`UseJsonFile` to `UseJsonConfig`  - in order to access settings from `appsettings.json`

[2022-07-21 18:34] vgdh commented on #128
in version 5 "json write" feature work only on read
The write feature is disable in hardcode

[2022-07-23 18:52] jeffward01 commented on #128
* Are the source and destinations on different volumes?
* What are you trying to accomplish?
* What is the name of the Json File? You can also use `.UseJsonConfig()` if your config filename is `appsettings.json`

[2022-07-23 19:30] vgdh commented on #128
I mean that this code will not work correctly.
`         ISettings settings = new ConfigurationBuilder<ISettings>()
            .UseJsonFile("appsettings.json")
            .Build();

         Console.WriteLine(settings.Option);
         settings.Option = "New";
         Console.WriteLine(settings.Option);
         Console.ReadKey();`

[2022-07-26 10:18] aloneguid commented on #141
oops all the links should be valid now, refactoring gone wrong :)

[2022-07-26 10:18] #141 closed

[2022-07-28 12:44] aloneguid commented on #130
Agreed, if you just need json then overabstration is a wrong way to go.

[2022-07-28 12:44] #130 closed

[2022-07-28 12:45] aloneguid commented on #132
Probably worth adding to readme.

[2022-07-28 12:47] #66 closed

[2022-07-28 12:47] #68 closed

[2022-07-28 12:48] #95 closed

[2022-07-28 12:50] #71 closed

[2022-07-28 12:50] #67 closed

[2022-07-29 18:23] jeffward01 commented on #128
Why do you use `.UseJsonFile(<string>)`?
[code]

You should use:
`UseJsonConfig()` as I mentioned earlier. It is the more updated method (I believe I am correct on this @aloneguid please correct me if i am wrong). and `UseJsonConfig()` expects a file with the name `appsettings.json` so you do not need to include `appsettings.json`

[2022-08-02 07:07] Robin-Wils opened #142 "Config.Net 5.1.0 searches for an incorrect 'System.Text.Json' version."
Config.Net 5.1.0 searches for an incorrect 'System.Text.Json' version. Config.Net installed 'System.Text.Json' 6.0.5, but 6.0.0 seems to be needed if I read the error message correctly.

[code]

My project uses framework net461, with LangVersion 7.3.

[2022-08-02 07:10] Robin-Wils commented on #142
My temporary workaround is to downgrade, and include Config.Net.Json. Even though it is deprecated.
[code]

[2022-08-02 11:12] aloneguid commented on #142
I think 6.0.0.0 is assembly version, it's still the same in 6.0.5. Can you try to explicitly reference System.Text.Json 5.0.3 from nuget? Unfortunately I'm not able to validate with .net 4.6.1 here.

[2022-08-02 11:36] aloneguid commented on #133
Fixed in v5.0.3.

[2022-08-02 11:36] #133 closed

[2022-08-02 11:37] #69 closed

[2022-08-03 07:09] Robin-Wils commented on #142
I haven't managed to do that. It seems to prefer to select the version of this library over the now installed nuget package one.

[2022-08-03 08:10] aloneguid commented on #142
Any chance you can attach a reproducible solution here?

[2022-08-03 09:26] aloneguid commented on #142
I have now pushed tests targeting .NET 4.6.1 specifically, they have no issues so far.

[2022-08-03 09:34] Robin-Wils commented on #142
I just made a demoproject, which seems to work. There must be something else that I did wrong in that other solution. It is odd as the previous version of Config.Net works.

[2022-08-03 12:16] vgdh commented on #128
Thank you.
On version 5.1.2 it works fine!
👍

[2022-08-03 13:24] #128 closed

[2022-08-03 13:40] aloneguid commented on #122
fixed in v5

[2022-08-03 13:40] #122 closed

[2022-08-03 13:40] aloneguid commented on #91
merged in v5

[2022-08-03 13:40] #91 closed

[2022-08-03 13:40] #92 closed

[2022-08-03 13:41] #103 closed

[2022-08-03 13:42] #117 closed

[2022-08-03 13:43] aloneguid commented on #123
JSON is now available by default.
Yaml isn't because it's an extra dependency.

[2022-08-03 13:43] #123 closed, assigned to nobody

[2022-08-03 13:44] aloneguid commented on #113
Feel free to raise a PR, nothing here yet ;)

[2022-08-22 13:49] Robin-Wils commented on #142
I seem to be one step further when I use the latest version. Now it can't find 'System.Runtime.CompilerServices.Unsafe'. I don't think that I have changed anything related in the meantime.
![image](https://user-images.githubusercontent.com/5617025/185936482-2ed3dc01-f966-4eb5-af40-7a4bbee3d825.png)

[2022-08-22 13:52] aloneguid commented on #142
Feel free to investigate and raise a PR.

[2022-08-22 13:58] Robin-Wils commented on #142
I just figured it out a way to reproduce it. Once I set OutputType to `Library` instead of `Exe` it happens. Note that I want it to be a library, as I include it in different projects of the solution.
![image](https://user-images.githubusercontent.com/5617025/185938514-0080efd3-6770-4b48-985e-ae6f922c40b2.png)

[2022-09-07 09:35] JamesBondski commented on #139
I would like to try my hands at this..

In the end, adding a "wrong" (=not supported) value to an ini file should not end up corrupting the file. All I'd do would be to make sure that \r and \n are translated to the appropriate characters in the string and upon writing are translated back and add test cases for both reading and writing.

Does that sound alright? I quite like that the library is pr

[2022-09-07 13:53] aloneguid commented on #139
@JamesBondski supporting `=, #, etc` after first `=` is great as today I can just paste base64 encoded value into .ini. Basically I can paste anything without worrying about escaping, however as you have noticed newline will break the parser, because it treats each line as a separate entity. I'd suggest escaping anything that can break the line, in both key and value. Please go ahead if you like t

[2022-10-12 17:53] ykarpeev opened #145 "Exception if initializing a JSON file in a directory that does not exist."
Hello, I notice that if you initialize a JSON store in a directory which doesn't exist you'll get an exception once you try to set a setting.

The issue is at   File.WriteAllText(_pathName, js) which tries to write to a folder that isn't there.

I have a solution locally to create the directory first if it does not exist.

Here is a change to JsonConfigFileStore to resolve it for me, if that is th

[2022-10-17 01:17] m1ke02 opened #146 "Writing several config parameters at once"
Hello,
Suppose I have an INI config and write several parameters by setting props, e.g.
[code]
Every assignment causes INI file to be opened/read/rewritten/closed.
Can I optimize the process and write several/all parameters at once?
Can I control the moment when file operations are actually performed?
Thanks.

[2022-10-18 00:03] Lilyliu123 commented on #145
We are encountering the same issue. Has this been looked into?

[2022-10-18 08:24] aloneguid commented on #145
Not to my knowledge. Feel free to work on it and raise a PR.

[2022-11-04 08:51] MagicAndre1981 opened #148 ".NET7 support"
Next week .[net 7 will be released](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-rc-2/):

So it would be nice if .net7 can be added as TargetFramework.

[2022-11-04 11:10] aloneguid commented on #148
This should be trivial to do. But what's the benefit of targeting .NET 7?

[2022-11-06 09:27] MagicAndre1981 commented on #148
Microsoft [deprecated .net standard](https://devblogs.microsoft.com/dotnet/the-future-of-net-standard/) so I have no idea if there are any side effects when using ns2.1 in new .net versions, so better target directly net7.0, this is simple to add and safe.

[2022-11-18 13:11] #145 closed

[2022-11-21 15:07] MagicAndre1981 commented on #148
ok, after merging https://github.com/aloneguid/config/pull/149 this can be closed

[2022-11-21 15:07] #148 closed

[2022-11-24 11:10] aloneguid commented on #146
Not at the moment, this is something for the future.